:root {
  --text-dark: #3f3f3f;
  --text-light: #efefef;
  --font-stack: 'Lobster', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
  'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
  sans-serif;
  --blue: #2650db;
  --dark-blue: #1e43bd;
}

body {
  margin: 0;
  font-family: var(--font-stack);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: var(--text-light);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

a {
  color: var(--blue);
}

a:hover, a:focus {
  color: var(--dark-blue);
}